*
!salvium/
!salvium/contrib/
!salvium/contrib/depends/
!salvium/contrib/depends/patches/
!salvium/contrib/depends/patches/boost/
!salvium/contrib/depends/patches/boost/gcc15-wchar-from-mb-init.patch
!salvium/contrib/depends/patches/unbound/
!salvium/contrib/depends/patches/unbound/no-expat.patch
!salvium/contrib/depends/patches/unbound/gcc15-const-correctness.patch
