<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.10.0</string>

  <key>NSPrincipalClass</key>
  <string>NSApplication</string>

  <key>CFBundleIconFile</key>
  <string>appicon.icns</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>CFBundleSignature</key>
  <string>????</string>

  <key>CFBundleExecutable</key>
  <string>salvium-wallet-gui</string>
  
  <key>CFBundleName</key>
  <string>Salvium GUI</string>

  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2024-2025 Salvium</string>

  <key>CFBundleIdentifier</key>
  <string>org.salvium.salvium-wallet-gui</string>

  <key>CFBundleVersion</key>
  <string>@VERSION_LONG@</string>

  <key>CFBundleShortVersionString</key>
  <string>@VERSION@</string>

  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>

  <key>NSRequiresAquaSystemAppearance</key>
  <string>True</string>

  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>salvium Handler</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>salvium</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleURLName</key>
      <string>salviumseed Handler</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>salviumseed</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
